name: Test Lambda Function

on:
    push:
        paths:
        - 'app/**'
jobs:
    build:
        runs-on: self-hosted
        timeout-minutes: 1
        steps:
        - uses: actions/checkout@v5
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
              python-version: '3.8'
        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip
              pip install pytest
        - name: Run tests
          run: |
              pytest app/tests/test_app.py
